<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
Name       : Picturesque 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131223
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href='https://fonts.googleapis.com/css?family=Raleway|Josefin+Sans|Roboto' rel='stylesheet' type='text/css'>
<link href="../default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

<!-- The code below implements the lightbox effect -->
<link href="../dist/css/lightbox.min.css" rel="stylesheet">

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<span id="logo">
			<h1><a href="../">Paul Cohen</a></h1>
		</span>
		<span id="logo"><h1>Mechanical Design Engineer</h1></span>
	</div>
	<div id="menu-wrapper">
		<div id="menu" class="container">
			<ul>
				<li><a href="../" accesskey="1" title="">Home</a></li>
				<li><a href="../#projects" accesskey="2" title="">My Projects</a></li>
				<li><a href="../About" accesskey="3" title="">About Me</a></li>
				<li><a href="https://pauljcohen.wordpress.com/" target="_blank" accesskey="5" title="">Blog</a></li>
			</ul>
		</div>
	</div>
	<a name="banner"></a>
</div>


<div id="banner-petra"></div>
<div id="wrapper3">
	<a name="Petra"></a>
	<div id="page" class="container">
		<div class="title">
			<h3>Petra</h3>
		</div>
		<div class="container2">
			<a href="../images/Petra_in_hand.jpg" data-lightbox="gallery1" ><img src="../images/Petra_in_hand.jpg" alt="" class="image image-display" /></a>
			<a href="../images/Petra_in_hand.jpg" data-lightbox="gallery1" ><img src="../images/Petra_in_hand.jpg" alt="" class="image image-thumbnail" /></a>
			<a href="../images/Static_test.jpg" data-lightbox="gallery1" ><img src="../images/Static_test.jpg" alt="" class="image image-thumbnail" /></a>
		</div>
		<p>The final product</p>

		<h2>A belaying, rapelling and ascending device with an innovative safety feature</h2>
		<br>
		<p>2.009 is the capstone course for Mechanical Engineering Seniors at MIT, 
		and follows the complete process of developing a product up to an alpha prototype, 
		on a budget of $6500. I was one of the two team leaders responsible for coordinating 
		our team of 22, as well as being a technical lead for design and fabrication of the 
		device.</p>
		<p>Starting with the ideation phase, my team and I researched and evaluated hundreds 
		of different ideas, before narrowing down to six - for which we created Sketch Models 
		and Mockups - before settling on Petra: an all-in-one belaying, rappelling, and ascending 
		device with an automatic fall prevention feature for cavers, canyoneers, and climbers. 
		</p>
		
		<div class="box"><a href="../images/Static_test.jpg" data-lightbox="gallery1" ><img src="../images/Static_test.jpg" alt="" class="image image-full" /></a>
		</div>
		<div class="box"><a href="../images/Static_test.jpg" data-lightbox="gallery2" data-title="Conducting tests up to 240kg"><img src="../images/Static_test.jpg" alt="" class="image image-full" /></a>
		</div>

		
		<p>I was a technical lead for the project, as well as being one of two team leaders responsible 
		for coordinating our team of 22. Skills I used during the project include top-down CAD 
		modelling, CAM, practical mill and lathe work, rapid prototyping, technical drawing, 
		chairing meetings, presentation skills, and project management.</p>
		<p>The video of our final presentation, performed in front of physical audience of 1100 and an 
		online audience of 2500, can be found at the link below. Click the brochure button to download a 
		pdf of our accompanying brochure.</p>
		<a href="http://web.mit.edu/2.009/www/interestMedia/final/final2015/yellow.html" target="_blank" class="button">
		Final Presentation</a>
		<a href="../Petra_brochure.pdf" target="_blank" class="button">
		Brochure</a>
		</div>
	</div>
</div>
</div>

<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Template design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. | Edited by me.</p>
		<ul class="contact">
			<li><a href="https://www.facebook.com/paul.cohen.7583" class="icon icon-facebook"><span>Facebook</span></a></li>
			<li><a href="https://www.instagram.com/paulc.ohen/" class="icon icon-instagram"><span>Instagram</span></a></li>
			<li><a href="https://pauljcohen.wordpress.com/" class="icon icon-wordpress"><span>Wordpress</span></a></li>
		</ul>
</div>
<!-- This is the other part of the lightbox thang -->
<script src="../dist/js/lightbox-plus-jquery.min.js"></script>
</body>
</html>
