<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
Name       : Picturesque 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131223
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Portfolio - Project</title> <!--CHANGE-->
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href='https://fonts.googleapis.com/css?family=Raleway|Josefin+Sans|Roboto' rel='stylesheet' type='text/css'>
<link href="../default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

<!-- The code below implements the lightbox effect -->
<link href="../dist/css/lightbox.min.css" rel="stylesheet">

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<span id="logo">
			<h1><a href="../">Paul Cohen</a></h1>
		</span>
		<span id="logo"><h1>Mechanical Design Engineer</h1></span>
	</div>
	<div id="menu-wrapper">
		<div id="menu" class="container">
			<ul>
				<li><a href="../" accesskey="1" title="">Home</a></li>
				<li><a href="../#projects" accesskey="2" title="">My Projects</a></li>
				<li><a href="../About" accesskey="3" title="">About Me</a></li>
				<li><a href="https://pauljcohen.wordpress.com/" target="_blank" accesskey="5" title="">Blog</a></li>
			</ul>
		</div>
	</div>
	<a name="banner"></a>
</div>


<div id="banner-petra"></div> <!--CHANGE-->
<div id="wrapper3">
	<a name="Petra"></a> <!---CHANGE-->
	<div id="page" class="container">
		<div class="title">
			<h3>Petra</h3> <!--CHANGE-->
		</div>
		<div class="container2">
			<a href="images/" data-lightbox="gallery1" data-title="Caption"><img src="images/" alt="" class="image image-display" /></a>
		</div>
		<br>
		<h2>Challenge</h2>
		<br>
		
		<div class="container2">
			<a href="images/" data-lightbox="gallery1" data-title="Caption"><img src="images/" alt="" class="image thumbnail-row" /></a>
		</div>		
		<h2>Solution</h2>
		<br>
		<p>Texxxxxt right here.</p>
		<div class="container2">
			<a href="images/" data-lightbox="gallery2" data-title="Caption"><img src="images/" alt="" class="image thumbnail-row" /></a>
		</div>	
		<h2>Results</h2>
		<br>
		<p>More text here!</p>
		<div class="container2">
			<a href="images/" data-lightbox="gallery3" data-title="Caption"><img src="images/" alt="" class="image thumbnail-row" /></a>
		</div>	
		</div>
	</div>
</div>
</div>

<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Template design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. | Edited by me.</p>
		<ul class="contact">
			<li><a href="https://www.facebook.com/paul.cohen.7583" class="icon icon-facebook"><span>Facebook</span></a></li>
			<li><a href="https://www.instagram.com/paulc.ohen/" class="icon icon-instagram"><span>Instagram</span></a></li>
			<li><a href="https://pauljcohen.wordpress.com/" class="icon icon-wordpress"><span>Wordpress</span></a></li>
		</ul>
</div>
<!-- This is the other part of the lightbox thang -->
<script src="../dist/js/lightbox-plus-jquery.min.js"></script>
</body>
</html>
